{% extends 'base.html' %}

{% block title %}
<title>COMAS compound submission</title>
{% endblock %}


{% block main %}

<div class="d-flex justify-content-between">
    <p class="lead">
        Please fill out the following information for each compound you want to submit for the COMAS collection.
    </p>
</div>

<br/>

{% block section %}{% endblock %}

<hr>

<div class="container">
    <div class="row g-3">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-end">
            <a href="{{ url_for('summary') }}" class="w-100 btn btn-primary">Next</a>
        </div>
    </div>
</div>


{% endblock %}