{% extends 'base.html' %}

{% block title %}
<title>COMAS sample submission</title>
{% endblock %}


{% block main %}

<div class="d-flex justify-content-between">
    <p class="lead">
        In order to simplify the submission process for large collection of samples (>100), please fill out the requested information in this Excel sheet and upload it below. Be aware that any modification to the template is <strong>not allowed</strong> (e.g. adding or removing column, renaming columns) and will result in an <strong>error</strong>.
    </p>
</div>

<br/>


{% block form %}{% endblock %}


{% block submit %}{% endblock %}


{% endblock %}