{% extends 'base.html' %}

{% block title %}
<title>COMAS compound submission</title>
{% endblock %}


{% block main %}

<div class="container">
    <div class="card p-2 p-md-5 border rounded-3">
        <h2>Submission summary</h2>
        <hr>
        <p class="lead">
        User: {{ user.username }}
        </p>
        
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Position</th>
                        <th scope="col">Supplier</th>
                        <th scope="col">Supplier ID</th>
                        <th scope="col">Producer</th>
                        <th scope="col">Stereo comment</th>
                        <th scope="col">Molecular weight</th>
                        <th scope="col">Amount (mg)</th>
                        <th scope="col">Volume (&mu;L)</th>
                        <th scope="col">Conc. (mM)</th>
                        <th scope="col">Project name</th>
                        <th scope="col">Trivial name</th>
                        <th scope="col">Alternative name</th>
                        <th scope="col">CAS No.</th>
                        <th scope="col">SMILES string</th>
                        <th scope="col">Annotation</th>
                        <th scope="col">Comment</th>
                    </tr>
                </thead>
                <tbody>
                {% for compound in compounds %} 
                    <tr>
                        <th scope="row">{{ compound.position }}</th>
                        <td>{{ compound.supplier }}</td>
                        <td>{{ compound.supp_id }}</td>
                        <td>{{ compound.producer }}</td>
                        <td>{{ compound.stereo_comment }}</td>
                        <td>{{ compound.mw }}</td>
                        <td>{{ compound.amount }}</td>
                        <td>{{ compound.vol }}</td>
                        <td>{{ compound.conc }}</td>
                        <td>{{ compound.project }}</td>
                        <td>{{ compound.trivial_name }}</td>
                        <td>{{ compound.alt_name }}</td>
                        <td>{{ compound.cas }}</td>
                        <td>{{ compound.smiles }}</td>
                        <td>{{ compound.annotation }}</td>
                        <td>{{ compound.comment }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<hr>

<div class="container">
    <div class="row g-3">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-end">
            <a href="{{ url_for('main.end') }}" class="w-100 btn btn-primary">Finish</a>
        </div>
    </div>
</div>

{% endblock %}
