{% extends 'upload.html' %}

{% block form %}

<div class="container">
    <div class="card p-2 p-md-5 border rounded-3 bg-light">
        <form action="{{ url_for('main.upload', membership='external') }}" method="POST">
            <div class="row g-3">
                <div class="col-md-2">
                    <label for="position" class="form-label">Position</label>
                    <input type="text" class="form-control placeholder-lightgray" id="position" name="position" placeholder="A01" required>
                </div>
                <div class="col-md-4">
                    <label for="supplier" class="form-label">
                        Supplier
                        <i class="bi bi-info-circle"
                            data-bs-toggle="tooltip" 
                            data-bs-placement="right" 
                            title="Name of company where the compound was purchased. 
                            If synthezised in your lab, please leave it blank"></i>
                    </label>
                    <input type="text" class="form-control placeholder-lightgray" id="supplier" name="supplier" placeholder="Intervet">
                </div>
                <div class="col-md-3">
                    <label for="supp_id" class="form-label">
                        Supplier ID
                        <i class="bi bi-info-circle"
                            data-bs-toggle="tooltip" 
                            data-bs-placement="right" 
                            title="Identifier given to the compound"></i>
                    </label>
                    <input type="text" class="form-control placeholder-lightgray" id="supp_id" name="supp_id" placeholder="BM-600B">
                </div>
                <div class="col-md-3">
                    <label for="producer" class="form-label">
                        Producer
                        <i class="bi bi-info-circle"
                            data-bs-toggle="tooltip" 
                            data-bs-placement="right" 
                            title="Name of the person submitting the compound."></i>
                    </label>
                    <input type="text" class="form-control" id="producer" name="producer">
                </div>
                <div class="col-md-3">
                    <label for="stereo_comment" class="form-label">Stereo comment</label>
                    <select class="form-select" name="stereo_comment" id="stereo_comment" required>
                        <option value="">Choose...</option>
                        <option>Racemic</option>
                        <option>Chiral</option>
                        <option>Achiral</option>
                        <option>Either</option>
                        <option>Mixture</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="mw" class="form-label">Molecular Weight</label>
                    <input type="float" class="form-control placeholder-lightgray" id="mw" name="mw" placeholder="418">
                </div>
                <div class="col-md-2">
                    <label for="amount" class="form-label">Amount (mg)</label>
                    <input type="text" class="form-control placeholder-lightgray" id="amount" name="amount" placeholder="2.1" required>
                </div>
                <div class="col-md-2">
                    <label for="vol" class="form-label">Volume (&mu;L)</label>
                    <input type="int" class="form-control placeholder-lightgray" id="vol" name="vol" placeholder="502" required>
                </div>
                <div class="col-md-2">
                    <label for="conc" class="form-label">Concentration (mM)</label>
                    <input type="float" class="form-control placeholder-lightgray" id="conc" name="conc" placeholder="10" required>
                </div>
                <div class="col-md-6">
                    <label for="project" class="form-label">Project Name</label>
                    <input type="text" class="form-control placeholder-lightgray" id="project" name="project" placeholder="Bicyclomycin" required>
                </div>
                <div class="col-md-3">
                    <label for="trivial_name" class="form-label">Trivial name</label>
                    <input type="text" class="form-control placeholder-lightgray" id="trivial_name" name="trivial_name" placeholder="Bicozamycin">
                </div>
                <div class="col-md-3">
                    <label for="alt_name" class="form-label">Alternative Name</label>
                    <input type="text" class="form-control placeholder-lightgray" id="alt_name" name="alt_name" placeholder="Aizumycin">
                </div>
                <div class="col-md-2">
                    <label for="cas" class="form-label">CAS Number</label>
                    <input type="text" class="form-control placeholder-lightgray" id="cas" name="cas" placeholder="38129-37-2">
                </div>
                <div class="col-md-7">
                    <label for="smiles" class="form-label">SMILES string</label>
                    <input type="text" class="form-control placeholder-lightgray" id="smiles" name="smiles" placeholder="C[C@](CO)([C@@H]([C@@]12C(=O)N[C@@](C(=C)CCO1)(C(=O)N2)O)O)O" required>
                </div>
                <div class="col-md-3">
                    <label for="annotation" class="form-label">Annotation</label>
                    <input type="text" class="form-control" id="annotation" name="annotation">
                </div>
                <div class="col-md-12">
                    <label for="comment" class="form-label">
                        Comment
                        <i class="bi bi-info-circle"
                            data-bs-toggle="tooltip" 
                            data-bs-placement="right" 
                            title="Enter additional information here, e.g., enantiomeric purity (98% ee) in case of chiral compounds"></i>
                    </label>
                    <input type="text" class="form-control" id="comment" name="comment">
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-12 text-end">
                    <button type="submit" class="btn btn-secondary">Add</button>
                </div>
            </div>

        </form>
    </div>
</div>

<br>

{% if compounds | length > 0 %}
<div class="container">
    <div class="row g-3">
        <div class="col-md-9"></div>
        <div class="col-md-3 text-end">
            {% if compounds | length == 1 %}
            <div class="alert alert-success text-center" role="alert">
            You have added {{ compounds | length }} compound
            </div>
            {% else %}
            <div class="alert alert-success" role="alert">
            You have added {{ compounds | length }} compounds
            </div>
            {% endif %}
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% else %}
<br/>

<div class="container">
    <div class="d-flex justify-content-between">
        <p class="text-secondary">
            * In case of a large number of compounds, you can upload an Excel sheet <a href="{{ url_for('main.upload_external_from_file') }}">here</a> with all the required information.
        </p>
    </div>
</div>
{% endif %}

<script>
  // Enable tooltips
  document.addEventListener('DOMContentLoaded', function () {
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    tooltipTriggerList.forEach(function (tooltipTriggerEl) {
      new bootstrap.Tooltip(tooltipTriggerEl);
    });
  });
</script>

{% endblock %}


{% block submit %}

<hr>

<div class="container">
    <div class="row g-3">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-end">
            <a href="{{ url_for('main.summary', membership='external') }}" class="w-100 btn btn-primary">Next</a>
        </div>
    </div>
</div>


{% endblock %}